<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
    viewBox="0 0 1920 79">
    <defs>
        <style>
            .cls-2 {
                fill: #5f4def;
            }
        </style>
    </defs>
    <title>footer-frame</title>
    <path class="cls-2"
        d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z"
        transform="translate(0 -0.188)"></path>
</svg>
<footer class="site-footer" aria-labelledby="footer-heading">
    <div class="mx-auto max-w-7xl px-6 pb-8 lg:px-8">
   
            
            <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-32">
                    <div class="space-y-8">
                        <img class="h-7" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                            alt="Company name">
                        <p class="text-sm leading-6 text-gray-300">Making the world a better place through constructing elegant
                            hierarchies.</p>
        
                    </div>
                    <div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
                        <ul role="list" class="mt-6 space-y-4">                            
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Documentation</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Guides</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">API Status</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
                            </li>
                            <!-- <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Jobs</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Press</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Partners</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <!-- <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Claim</a>
                            </li> -->
                            <li>
                                <a href="/privacy.html" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy</a>
                            </li>
                            <li>
                                <a href="/terms-condition.html" class="text-sm leading-6 text-gray-300 hover:text-white">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </div>
        <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
            <p class="text-xs leading-5 text-gray-400">&copy; 2020 Your Company, Inc. All rights reserved.</p>
            <p class="text-xs leading-5 text-gray-400">Copyright © 2020 <a href="#">Template by Inovatik</a></p>
            <!-- <div class="text-xs ">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{
                    site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{
                    site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
                    Pages</a>.</span>
        </div> -->
        </div>
    </div>
</footer>